<div class="text-center">
  <div class="bg-image p-5 text-center shadow-1-strong rounded text-black img-fluid">
  </div>
</div>
<div class="bg-light">
  <div class="container d-flex justify-content-center">
    <div class="p-3 pb-3 col-9">
      <h1 class="text-center">Complete Your Story</h1>
      <p>Writer's block? Say no more. Here at A Hero's Outline, we've compiled the tools you'll
        need to help you break out of the same old habits and patterns you currently employ in your writing style. Not
        only do we offer a bite-size, one step at a time approach to outlining, using this method will also help you
        analyze the work of others. Want to know why you like the books and movies you do? What makes those stories so
        special? They used a model! Or in this case, an outline. We'll take you through, step by step, and help you
        break
        down your work into manageable pieces. See ya later, writer's blockigator!</p>
    </div>
  </div>
  <div class="text-center bg-secondary text-bg-dark pt-3" id="features">
    <h1>Features</h1>
    <ul class="d-flex flex-wrap px-4 justify-content-center">
      <li class="d-flex flex-wrap justify-content-center align-items-center pt-3">
        <i class="fa-solid fa-hat-wizard col-12 col-md-4"></i>
        <div class="col-12 col-md-4 pt-3">
          <h4>Outline Wizard</h4>
          <p>Abracadabra! Avada Kedavra! Whichever you prefer, the Outline Wizard will walk you
            through the entire outline process. Not sure what to write for the "Atonement" section? No problem. The
            wizard will make sure you know where to start for each step. Once you've completed each step of the hero's
            journey, the wizard will put it all together for you in a comprehensive outline. It's like magic!
          </p>
        </div>
      </li>
      <li class="d-flex pt-3 w-50 border-bottom border-3"></li>
      <li class="d-flex flex-wrap-reverse justify-content-center align-items-center pt-3">
        <div class="col-12 col-md-4 pt-3">
          <h4>Outlines To-Go</h4>
          <p>Take your outlines on the road with you! You can access your materials
            anywhere you have an internet connection. Whether you're having the staycation of your life or out in the
            world on an adventure, A Hero's Outline will be there with you, ready to help you capture inspiration from
            anywhere.
          </p>
        </div>
        <i class="fa-solid fa-mountain-city col-12 col-md-4"></i>
      </li>
      <li class="d-flex pt-3 w-50 border-bottom border-3"></li>
      <li class="d-flex flex-wrap justify-content-center align-items-center pt-3">
        <i class="fa-solid fa-user-lock col-12 col-md-4"></i>
        <div class="col-12 col-md-4 pt-3">
          <h4>Keep Your Outlines Safe</h4>
          <p>Here at A Hero's Outline, we're committed to keeping your private information just
            that, private. You don't need to worry about anyone else viewing or editing your work, you'll have your own
            account and sole access to create, edit, or delete outlines at your discretion.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>