<div class="text-center">
  <div
    class="bg-image p-5 text-center shadow-1-strong rounded text-black"
    style="background-image: url('images/20270-01-hero-journey-powerpoint-template-16x9-1.jpg'); background-repeat: no-repeat; background-position: center;"
  >
    <div class="row justify-content-between">
      <div class="card bg-light bg-opacity-50 col-sm-4">
        <div class="card-body">
          <h1 class="">Complete Your Story</h1>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Repellendus praesentium labore accusamus sequi, voluptate debitis
            tenetur in deleniti possimus modi voluptatum neque maiores dolorem
            unde? Aut dolorum quod excepturi fugit.
          </p>
        </div>
      </div>
      <div class="card col-sm-4 bg-light bg-opacity-50">
        <div class="card-body">
          <form>
            <div class="mb-3">
              <legend>Sign Up</legend>
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input
                id="signUpEmail"
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
              <div id="emailHelp" class="form-text">We'll never share your email
                with anyone else.</div>
            </div>
            <div class="mb-3">
              <label
                for="exampleInputUsername1"
                class="form-label"
              >Username</label>
              <input
                id="signUpUsername"
                type="text"
                class="form-control"
                id="exampleInputUsermane1"
              />
            </div>
            <div class="mb-3">
              <label
                for="exampleInputPassword1"
                class="form-label"
              >Password</label>
              <input
                id="signUpPassword"
                type="password"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div>
            <button
              id="signUpBtn"
              type="submit"
              class="btn btn-primary"
            >Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center bg-light">
  <h1>What We Offer</h1>
  <p class="text-center mb-0">Lorem ipsum, dolor sit amet consectetur
    adipisicing elit. Sequi neque animi quo cupiditate commodi saepe culpa sed
    itaque velit maiores optio dolorem excepturi aperiam dolores, voluptatibus
    suscipit amet quis repellat!</p>
</div>
<div class="text-center bg-secondary text-bg-dark" id="features">
  <h1>Features</h1>
  <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing
    elit. Sequi neque animi quo cupiditate commodi saepe culpa sed itaque velit
    maiores optio dolorem excepturi aperiam dolores, voluptatibus suscipit amet
    quis repellat!
  </p>
  <br />
  <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing
    elit. Sequi neque animi quo cupiditate commodi saepe culpa sed itaque velit
    maiores optio dolorem excepturi aperiam dolores, voluptatibus suscipit amet
    quis repellat!
  </p>
  <br />
  <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing
    elit. Sequi neque animi quo cupiditate commodi saepe culpa sed itaque velit
    maiores optio dolorem excepturi aperiam dolores, voluptatibus suscipit amet
    quis repellat!
  </p>
</div>
<div class="text-center bg-white mb-4" id="login">
  <h1>Login</h1>
  <div class="row justify-content-center m-0">
    <div class="card col-sm-4 bg-light">
      <div class="card-body">
        <form>
          <div class="mb-3">
            <legend>Login</legend>
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input
              id="loginEmail"
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <div id="emailHelp" class="form-text">We'll never share your email
              with anyone else.</div>
          </div>
          <div class="mb-3">
            <label
              for="exampleInputPassword1"
              class="form-label"
            >Password</label>
            <input
              id="loginPassword"
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <button
            id="loginBtn"
            type="submit"
            class="btn btn-primary"
          >Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/javascript/login.js"></script>