* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
}

.wizard-btn {
    background-color: #650094;
}

.wizard-btn:hover {
    background-color: #650094d0;
}

.bg-image {
    height: 500px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#features i {
    font-size: 72px;
}

#features p {
    text-align: left;
}



#wizard-form {
    background-color: #ffffff;
    margin: 100px auto;
    max-width: 1000px;
}

#wizard-form h1 {
    text-align: center;
}

#wizard-form input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

/* Hide all steps by default: */
#wizard-form .tab {
    display: none;
}

/* #wizard-form button {
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
} */

#wizard-form button:hover {
    opacity: 0.8;
}

/* Make circles that indicate the steps of the form: */
#wizard-form .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

#wizard-form .step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
#wizard-form .finish {
    background-color: #04AA6D;
}

.step-indicator {
    text-align:center;
    margin-top:40px;
}

.block {
    display: block;
}

.none {
    display: none;
}